body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #341963;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 0;
  left: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  
}

.nav-links a:hover {
  color: #007BFF;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('./assets/pexels-flickr-146083.jpg') no-repeat center center/cover;
  color: #fff;
  padding-top: 80px;
}

header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  margin-bottom: 20px;
}

header button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

header button:hover {
  background-color: #de9218;
}

.content-section {
  display: flex;
  margin: 100px 50px;
  padding-top: 80px;
}

.text-container {
  flex: 1;
  padding: 20px;
}

.text-container p {
  font-size: 16px;
  line-height: 1.6;
}

.image-container {
  flex: 1;
  padding: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.cards-section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #fff;
}

.card {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }

  .content-section {
    flex-direction: column;
    margin: 100px 20px;
  }

  .cards-section {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }
}